<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>616379085582-t721st4dur7995ohuc4hg2eqq6osnd89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616379085582-t721st4dur7995ohuc4hg2eqq6osnd89</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>616379085582-bnqdu76qhtqs9ov7jmh8bhg5ajubq1oc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqR7YDlIjNa1dEefjw50dVf-gCx-zPo9o</string>
	<key>GCM_SENDER_ID</key>
	<string>616379085582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.ac.warwick.my</string>
	<key>PROJECT_ID</key>
	<string>start-1184</string>
	<key>STORAGE_BUCKET</key>
	<string>start-1184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616379085582:ios:9b46a1b85098eb1d</string>
	<key>DATABASE_URL</key>
	<string>https://start-1184.firebaseio.com</string>
</dict>
</plist>